<!DOCTYPE html>
<html lang="en">
<head>
  <title>Phantasma Wallet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  <script src="http://d3js.org/d3.v4.min.js"></script>
  <script src="http://techanjs.org/techan.min.js"></script>	
  <script src="js/bootbox.min.js" ></script>  
  <script src="js/qrcode.min.js"></script>  
  <script src="js/moment.js"></script>  
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
	
	body {
	overflow-y:hidden;
	}
	
	.menu-icon {
		min-width:20px;
		margin-right:2px;
	}
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Phantasma Wallet</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		{{#each menu}}
        <li{{#if url=active}} class="active"{{/if}}><a href="{{url}}"><i class="fas {{icon}} menu-icon"></i>{{caption}}</a></li>
		{{/each}}
      </ul><br>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2><img src="img/phantasma_logo.png" style="display:inline; height:32px; margin-right:8px;" />Phantasma Wallet</h2>
	  <h5><em>{{name}}</em></h5>
	  <h6>{{address}}</h6>
	  <hr/>
      <ul class="nav nav-pills nav-stacked">	  
		{{#each menu}}
        <li{{#if url=active}} class="active"{{/if}}><a href="/{{id}}"><i class="fas {{icon}} menu-icon"></i>{{caption}}</a></li>
		{{/each}}
      </ul><br>
    </div>
    <br>
  
    <div class="col-sm-9">
		{{#body}}
    </div>
  </div>
</div>

</body>
</html>
