<h4>Portfolio</h4>
{{#if holdings}}
<table class="table table-striped">
	<thead>
	  <tr>
		<th class="col-6">Name</th>
		<th class="col-3">Amount</th>
		<th class="col-3">Value (USD)</th>
	  </tr>
	</thead>
	<tbody>
		{{#each holdings}}
	  <tr>
		<td class="col-6"><img class="token-icon" src="img/{{icon}}.png"/> {{name}}</td>
		<td class="col-3">{{amount}} {{symbol}}</td>
		<td class="col-3">{{usd}}$</td>
	  </tr>
	  {{/each}}
	</tbody>
</table>
{{#else}}
<div class="alert alert-info" role="alert">
  This address is still new and does not have any assets yet.
</div>

{{/if}}