<h4>Your public Phantasma address:</h4>
<p class="text-center"><strong>{{address}}</strong><span class="copy-pad"></span><a href="#" onclick="copyText('{{address}}', 'Address')"><i class="fas fa-copy"></i></a></p>
<input type="hidden" value="{{address}}" id="myAddress">

<div id="qrcode" class="qrbox"></div>


<script type="text/javascript">

var target = document.getElementById("qrcode");
var qrcode = new QRCode(target, {
    text: "phantasma://{{address}}",
    width: 256,
    height: 256,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H
});

</script>
