<h4>Transactions</h4>
{{#if transactions}}
<table class="table table-striped">
	<thead>
	  <tr>
		<th class="col-1">Date (UTC)</th>
		<th class="col-4">Hash</th>
		<th class="col-7">Description</th>
	  </tr>
	</thead>
	<tbody>
		{{#each transactions}}
	  <tr>
		<td class="col-1">{{#date date}}</td>
		<td class="col-4"><small><a href="http://localhost:7074/tx/{{hash}}">{{hash}}</small></a></td>
		<td class="col-7">{{description}}</td>
	  </tr>
	  {{/each}}
	</tbody>
</table>
{{#else}}
<div class="alert alert-info" role="alert">
  This address is still new and does not have any transaction yet.
</div>

{{/if}}