<h3 class="tab-title">Transactions</h3>

{{#if confirmedHash}}
<!--<div class="table-responsive">-->
<div class="alert alert-success" style="overflow: auto">
    The transaction <a href="http://localhost:7072/tx/{{confirmedHash}}">{{confirmedHash}}</a> was sent with <strong>success</strong>!
</div>
<!--</div>-->
{{/if}}

{{#if transactions}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-1">Date (UTC)</th>
                <th class="col-4">Hash</th>
                <th class="col-7">Description</th>
            </tr>
        </thead>
        <tbody>
            {{#each transactions}}
            <tr>
                <td class="col-1">{{#date Date}}</td>
                <td class="col-4"><small><a href="http://localhost:7072/tx/{{Hash}}">{{Hash}}</a></small></td>
                <td class="col-7">{{Description}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{#else}}
<div class="alert alert-info" role="alert">
    This address is still new and does not have any transaction yet.
</div>

{{/if}}