
<div class="row" style="padding-top: 50px;">
    <div class='container'>
        <div class='loader'>
            <div class='loader-dot'></div>
            <div class='loader-dot'></div>
            <div class='loader-dot'></div>
            <div class='loader-text'>Waiting for transaction confirmations<div class="loader-dots"></div></div>
        </div>
    </div>
</div>

<script>

    $(document).ready(getConfirmations);

    function getConfirmations() {
        $.get('/confirmations/{{ConfirmingTxHash}}',
            function(returnedData) {
                if (returnedData === 'true') {
                    window.location.replace("/history");
                } else {
                    window.location.replace("/error");
                }
                console.log(returnedData);
            });
    }
</script>
