.nav > li > a {
    padding: 20px;
    align-content: left;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 1000px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding: 30px;
    padding-top: 10px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }

    .content {
        padding: 1px !important;
        padding-top: 40px !important;
    }

    .tab-title {
        display: none;
    }

    .send-label {
        font-size: 16px !important;
        padding-bottom: 10px !important;
        padding-left: 1px !important;
    }

    .well {
        padding: 5px !important;
        margin-top: 50px !important;
    }

    body {
        background-size: cover !important;
    }

    .menu-item-highlight {
        background-color: white !important;
    }

    .alert {
        margin: 10px;
    }

    .public-address {
        font-size: 14px !important;
    }

    .public-address-label {
        font-size: 14px !important;
    }
}

html {
    height: 100%;
}

body {
    font-family: Open Sans;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    height: 100%;
}

.container-fluid {
    height: auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    min-height: 100%;
}

.sidenav {
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
}

.navbar-toggle {
    background: #06A2DA;
}

.icon-bar {
    background-color: white;
}

.wallet-title {
    font-size: 14px;
    font-weight: bold;
    color: #06A2DA;
}

.wallet-subtitle {
    font-size: 12px;
    font-weight: 600;
    color: #7C95AB;
}

ul.nav.nav-pills {
    text-align: left;
    display: inline-block;
}

.nav-stacked > li + li {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    display: inline-block;
}

.nav-pills li {
    float: none;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
}

.nav-pills > li > a /*, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover*/ {
    color: #7C95AB;
    background-color: white;
    text-align: left;
    background-color: white;
}

    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        color: #17B0E7;
        text-align: left;
        background-color: white;
    }

    .nav-pills > li > a:focus, .nav-pills > li > a:hover {
        color: #17B0E7;
        text-align: left;
        background-color: white;
    }

    .nav-pills > li > a:hover {
        -webkit-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
        -moz-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
        box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    }

.menu-icon {
    margin-right: 15px;
    margin-left: 30px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.menu-item-highlight {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    -moz-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
}

.token-shadow {
    -webkit-box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
}

.shadow-box {
    -webkit-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
}

.btn-primary {
    min-width: 100px;
}

.btn-normal {
    background-color: #17B0E7;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
}

.btn-asset-no-border {
    margin-right: 10px;
    color: #7c95ab;
    font-size: 20px;
    border: none;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
}

.btn .caret {
    margin-left: 20px;
    color: #7C95AB;
}

.btn-lg {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-top: 20px;
}

.qrbox {
    /*padding: 1px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
    width: 272px;
    height: 272px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.copy-pad {
    display: inline-block;
    width: 6px;
    height: 10px;
}

.token-icon {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}

.well {
    height: 100%;
    background-color: white;
    border: none;
    padding: 60px;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
}

.content {
    padding: 70px;
}


.tab-title {
    font-size: 25px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    color: #7C95AB;
}

.send-label {
    font-size: 25px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    color: #7C95AB;
}

.table-responsive {
    border: none;
    background-color: transparent;
    color: transparent;
    padding: 10px;
}

.borderless-input {
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
}

.table-general {
    color: #7C95AB;
    border-spacing: 0 30px;
    border-collapse: collapse;
}

    .table-general thead tr {
        border: none;
        font-size: 16px;
    }

    .table-general th {
        font-size: 14px;
        border: none !important;
        white-space: normal;
        width: auto;
    }

    .table-general tbody tr > td {
        border: none;
        font-size: 16px;
        border-spacing: 20px;
    }

    .table-general > td {
        padding-bottom: 20px;
    }


.table-striped {
    /*width: 100%;*/
    table-layout: auto;
    /*max-width: 100%;*/
    border-collapse: collapse;
}

    .table-striped tbody tr {
        border: 1px solid #17B0E7;
    }

    .table-striped th {
        font-size: 14px;
        font-weight: 600;
        color: #7C95AB;
        border-bottom: 1px solid #17B0E7 !important;
    }


    .table-striped td {
        color: #7C95AB;
    }

        .table-striped td a {
            color: #17B0E7;
        }

    .table-striped > tbody > tr:nth-child(even) > td,
    .table-striped > tbody > tr:nth-child(even) > th {
        background-color: rgba(23, 176, 231, 0.05);
        padding: 10px;
        border-bottom: 1px solid #17B0E7;
    }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #17B0E7;
    }

/* waiting animation */
.loader {
    height: 20px;
    width: 250px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader-dot {
    animation-name: loader;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

    .loader-dot:first-child {
        background-color: #005073;
        animation-delay: 0.5s;
    }

    .loader-dot:nth-child(2) {
        background-color: #107dac;
        animation-delay: 0.4s;
    }

    .loader-dot:nth-child(3) {
        background-color: #189ad3;
        animation-delay: 0.3s;
    }

.loader-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 350px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-flex;
}

    .loader-text:after {
        overflow: hidden;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 3000ms infinite;
        animation: ellipsis steps(4,end) 3000ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
    }

@keyframes ellipsis {
    to {
        width: 1em;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1em;
    }
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }

    45% {
        transform: translateX(230px);
    }

    65% {
        transform: translateX(230px);
    }

    95% {
        transform: translateX(0);
    }
}

/* send wizard*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.public-address {
    color: #7C95AB;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    line-height: 1.5em;
    height: 3em;
}

.public-address-label {
    color: #7C95AB;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}
