/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 1000px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
    padding: 30px;
    padding-top: 10px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

body {
    font-family: Open Sans;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
}

.sidenav {
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
}

.wallet-title {
    font-size: 14px;
    font-weight: bold;
    color: #06A2DA;
}

.wallet-subtitle {
    font-size: 12px;
    font-weight: 600;
    color: #7C95AB;
}

.nav-pills li {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.nav-stacked > li + li {
    margin-left: 50px;
    margin-right: 50px;
}

.nav-pills > li.active > a /*, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover*/ {
    color: #7C95AB;
    text-align: center;
    background-color: white;
}

    .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: #17B0E7;
        text-align: center;
        background-color: white;
    }

    .nav-pills > li.active > a:hover {
        -webkit-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
        -moz-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
        box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    }

.menu-item-highlight  {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    -moz-box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
    box-shadow: 0px 0px 30px 5px rgba(222,222,222,0.5);
}

.token-shadow {
    -webkit-box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 25px 2px rgba(216,216,216,0.25);
}

.shadow-box {
    -webkit-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
}

.menu-icon {
    min-width: 20px;
    margin-right: 2px;
}

.btn-primary {
    min-width: 100px;
}

.btn-normal {
    background-color: #17B0E7;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
}

.btn-asset-no-border {
    margin-right: 10px;
    color: #7c95ab;
    font-size: 20px;
    border: none;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    -moz-box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
    box-shadow: 0px 0px 15px -6px rgba(216,216,216,1);
}

.btn .caret {
    margin-left: 20px;
    color: #7C95AB;
}

.qrbox {
    /*padding: 1px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
    width: 272px;
    height: 272px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.copy-pad {
    display: inline-block;
    width: 6px;
    height: 10px;
}

.token-icon {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}

.well {
    height: 100%;
    background-color: white;
    border: none;
    padding: 60px;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    -moz-box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
    box-shadow: 0px 0px 15px 10px rgba(216,216,216,0.25);
}

.content {
    padding: 70px;
}


.tab-title {
    font-size: 25px;
    padding-bottom: 20px;
    font-family: "Open Sans";
    color: #7C95AB;
}


.borderless-input {
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
}

.table-general {
    color: #7C95AB;
    border-spacing: 0 30px;
    border-collapse: separate;
}

    .table-general thead tr {
        border: none;
        font-size: 16px;
    }

    .table-general th {
        font-size: 14px;
        border: none !important;
        white-space: normal;
        width: auto;
    }

    .table-general tbody tr > td {
        border: none;
        font-size: 16px;
        border-spacing: 20px;
    }

    .table-general > td {
        padding-bottom: 20px;
    }


.table-striped {
    /*width: 100%;*/
    table-layout: auto;
    /*max-width: 100%;*/
    border-collapse: collapse;
}

    .table-striped tbody tr {
        border: 1px solid #17B0E7;
    }

    .table-striped th {
        font-size: 14px;
        font-weight: 600;
        color: #7C95AB;
        border-bottom: 1px solid #17B0E7 !important;
        /*white-space: normal;
        width: auto;*/
    }


    .table-striped td {
        /*max-width: 100%;*/
        /*overflow: hidden;
        text-overflow: ellipsis;*/
        color: #7C95AB;
        /*word-wrap: break-word;
        display: block;*/
    }

        .table-striped td a {
            color: #17B0E7;
        }

    .table-striped > tbody > tr:nth-child(even) > td,
    .table-striped > tbody > tr:nth-child(even) > th {
        background-color: rgba(23, 176, 231, 0.05);
        padding: 10px;
        border-bottom: 1px solid #17B0E7;
    }

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #17B0E7;
    }
